
body {
    font: 20px arial, sans-serif;
}
.navbar {
    background-color: bisque;
}

.quem-somos {
    background-color: beige;
    color: gray;
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}